*{
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
    justify-items: stretch;
    align-items: stretch;
}

.grid-container>div {
    padding: 1em;
    background-color: grey;
}

.grid-container>div:nth-child(even) {
    background-color: lightgrey;
}

#div1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: start;
}